<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ClassificadorEditorial</display-name>
	<servlet>
		<description>
        </description>
		<display-name>CommandServlet</display-name>
		<servlet-name>CommandServlet</servlet-name>
		<servlet-class>control.CommandServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommandServlet</servlet-name>
		<url-pattern>*.cmd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>c</taglib-uri>
			<taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>fmt</taglib-uri>
			<taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>fn</taglib-uri>
			<taglib-location>/WEB-INF/taglib/fn.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>